<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>123.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>MomentSever.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8834BB171E7D990100892600</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8834BB2C1E7D990200892600</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8834BB371E7D990200892600</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>885B50B11E684BAA00F0D4D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>885B50C71E684BAB00F0D4D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>885B50D21E684BAB00F0D4D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
